body {
    background-color: black; 
    text-align: center;
    color: red;
    border:solid red;
    border-width: 5px;
}
img {
<<<<<<< HEAD
    width: 300px;
=======
    width: 400;
>>>>>>> 58227f6fa403d1509a8aa854dd77ca2408414a5d
}

#hint {
    display: none;
    text-align: right;
    margin: 5px;
}
